export DATASTORE_PROJECT_ID=escort-357112
export DATASTORE_DATASET=escort-357112
export DATASTORE_HOST=http://localhost:8081
export DATASTORE_EMULATOR_HOST=localhost:8081
export DATASTORE_EMULATOR_HOST_PATH=localhost:8081/datastore
